@use './components/PortfolioProjectPreview';
@use './components/Figure';
@use './components/YouTubeEmbed';

.portfolio {
  .github-link {
    margin: 3vh 0;
    padding-left: 1%;
    a > svg {
      padding-right: 10px;
      vertical-align: middle;
    }
  }
}

figure {
  margin: 5% 0;
}
