body {
  display: flex;
  flex-direction: column;

  margin: 0px;
  height:100vh;

  background-color: #090f17;
  color: #73cff4;
  font-family: 'Courier New', monospace;
  font-size: 1.5em;
}

header {
  padding: 2vh 2.5vh 1.5vh;
  background-color: #1d2c49;
}

h1 {
  text-align: center;
}

p {
  margin: auto;
  padding: 1% 1% 2%;

  max-width: 80%;
}

a {
  color: #ffb84d;
  text-decoration: none;
}

a:hover, a:focus {
  text-decoration: underline;
}

.nav {
  display: flex;
}

.nav-item {
  list-style-type: none;
  color: #73cff4;
  padding: 1vh;
  align-items: center;
}
.nav-item:first-child {
  list-style-type: none;
  margin-right: auto;
}

.nav-item:hover, .nav-item:focus {
  transform: scale(1.1);
}