.nav-links {
  display: flex;
  .link {
    list-style-type: none;
    color: var(--sky-blue);
    padding: 1vh;
    align-items: center;

    &:hover,
    &:focus {
      transform: scale(1.1);
    }
  }
}
